@{
    Layout = "_LayoutAdmin";

}

<div class="row">
    <div class="col-x-3 col-sm-6 mb-3" >
        <div class="card bg-primary text-white ">
            <div class="card-body">Pessoas</div>
            <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>

    <div class="col-x-3 col-sm-6 mb-3" >
        <div class="card bg-primary text-white">
        <div class="card-body">Endereço</div>
        <a asp-controller="Rh" asp-action="Endereco" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>

    <div class="col-x-3 col-sm-6 mb-3" >
        <div class="card bg-primary text-white">
        <div class="card-body">Cargo</div>
        <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>

    <div class="col-x-3 col-sm-6 mb-3" >
        <div class="card bg-primary text-white">
        <div class="card-body">Setores</div>
        <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>

    <div class="col-x-3 col-sm-6 mb-3" >
        <div class="card bg-primary text-white">
        <div class="card-body">Funcionário</div>
        <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>

</div>

