@{
    Layout = "_LayoutAdmin";

}

<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" >
        <div class="card bg-info text-white ">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-child"></i><br>
                </div>                
                <h2>Pessoas</h2>
            </div>
            <a href="#" class="btn btn-info">Cadastrar</a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3" >
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-envelope-square"></i>
                </div>   
                <h2>Endereço</h2>                                 
            </div>
            <a asp-controller="Rh" asp-action="Endereco" class="btn btn-success">Cadastrar</a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3" >
        <div class="card bg-primary text-white">
            <div class="card-body">        
                <div class="card-body-icon">
                    <i class="fab fa-black-tie"></i>
                </div>   
                <h2>Cargo</h2>                                 
            </div>        
            <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3" >
        <div class="card bg-warning text-white">
            <div class="card-body">        
                <div class="card-body-icon">
                    <i class="fas fa-laptop"></i>
                </div>   
                <h2>Setores</h2>                                 
            </div>        
            <a href="#" class="btn btn-warning text-white">Cadastrar</a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3" >
        <div class="card bg-secondary text-white">
            <div class="card-body">        
                <div class="card-body-icon">
                    <i class="fas fa-address-card"></i>
                </div>   
                <h2>Funcionário</h2>                                 
            </div>        
            <a href="#" class="btn btn-secondary">Cadastrar</a>
        </div>
    </div>   

</div>

