@model estudoMVC.DTO.CargoDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Novo Cargo</h3>
<hr/>
<form class="form-horizontal" asp-controller="Cargo" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">

    <label asp-for="Nome">Nome do cargo</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Insira o nome do cargo">
    <span asp-validation-for="Nome"></span><br>
    <br>  

    <label asp-for="Departamento">Departamento</label>
    <input type="text" asp-for="Departamento" class="form-control" placeholder="Insira o nome do departamento">
    <span asp-validation-for="Departamento"></span><br>
    <br>
    <button class="btn btn-success">Cadastrar novo cargo</button>      
</form>